.card {
    background-color: #25252a;
    color: whitesmoke;
    padding: 14px 15px 24px 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 15px 0px rgb(0 0 0 / 25%);
    max-width: 350px;
    height: fit-content;
}

.card .separator {
    margin: 10px auto;
    background-color: #585877;
    border-radius: 2px;
    height: 5px;
}

.card .header { margin-bottom: 15px; }

.card .header ~ ul { margin-bottom: 15px; }
.card .container + .container { margin-top: 10px; }

.card p, .card ul { font-size: 0.85em; color: #d0d0d0; }

.card ul { padding-inline-start: 35px }

.card .container { margin-left: 15px; }
.card .container .title { margin-bottom: 5px; }
.card p {
    font-size: 0.83em;
    border-left: #7d7db8 4px solid;
    padding-left: 10px;
    border-radius: 5px;
}

.card .btn-img {
    border-radius: 50%;
    padding: 8px;
    box-shadow: 2px 3px 15px 0px rgb(0 0 0 / 25%);
}

.card .btn-img.html {
    border: #511d00 5px solid;
    background-color: #8e3200;
}
.card .btn-img.css {
    border: #001f37 5px solid;
    background-color: #003f64;
}
.card .btn-img.js {
    border: #e8c200 5px solid;
    background-color: #aa8f00;
}
.card .btn-img.python {
    border: #ffc108 5px solid;
    background-color: #cb9800;
}
.card .btn-img.cpp {
    border: #001c34 5px solid;
    background-color: #184164;
}
.card .btn-img.csharp {
    border: #003717 5px solid;
    background-color: #057c36;
}
.card .btn-img.gdscript {
    border: #003d68 5px solid;
    background-color: #2b5d80;
}

.card .container-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .container-btn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85em;
    margin: 10px;
}

.card .container-btn a {
    background-color: #33424d;
    color: whitesmoke;
    padding: 2px 5px;
    border-radius: 4px;
    margin-top: 10px;
}


@media only screen and (max-width: 760px) {
    .card {
        background-color: #25252a;
        color: whitesmoke;
        padding: 14px 15px 24px 15px;
        border-radius: 15px;
        box-shadow: 2px 3px 15px 0px rgb(0 0 0 / 25%);
    }

    .card .separator {
        margin: 10px auto;
        background-color: #585877;
        border-radius: 2px;
        height: 5px;
    }

    .card .header { margin-bottom: 15px; }

    .card .header ~ ul { margin-bottom: 15px; }
    .card .container + .container { margin-top: 10px; }

    .card p, .card ul { font-size: 0.85em; color: #d0d0d0; }

    .card ul { padding-inline-start: 35px }

    .card .container { margin-left: 15px; }
    .card .container .title { margin-bottom: 5px; }
    .card p {
        font-size: 0.83em;
        border-left: #7d7db8 4px solid;
        padding-left: 10px;
        border-radius: 5px;
    }

    .card .container-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card .container-btn div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.85em;
        margin: 10px;
    }

    .card .container-btn a {
        background-color: #33424d;
        color: whitesmoke;
        padding: 2px 5px;
        border-radius: 4px;
        margin-top: 10px;
    }
}