@import url("style.card.css");

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: normal;
}

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

::-webkit-scrollbar { display: none; }

* { margin: 0; padding: 0; font-family: 'NotoSans'; }

a { text-decoration: none; }

body {
    display: flex;
    flex-direction: column;
    background-color: #3a3a44;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    justify-content: center;
}

header { display: none; }

/* 
header {
    z-index: 1;
    position: sticky;
    display: flex;
    top: 15px;
    margin: 10px;
    border-radius:5px;
    background: #6f6fe7;
    justify-content: space-between;
    margin-bottom: 5px;
    color: whitesmoke;
    max-height: 45px;
    box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 25%);
} */

header h1 { margin-left: 2px; }

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: space-evenly;
}

main section { margin: 10px; }

main .left div + div {
    margin-top: 10px;
}

nav {
    position: absolute;
    right: 0;
}

footer {
    background: #28284b;
    padding: 10px;
    min-height: 50px;
    margin: 10px 20px 0 20px;
    border-radius: 10px 10px 0 0;
    border: 2px #454585 solid;
    border-bottom: none;
    color: #8282d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.link { color: #85b3ff; }

.nav-links { display: flex; }

.nav-links a, .btn-home {
    color: whitesmoke;
    text-transform: uppercase;
    height: 100%;
    margin: 10px;
    text-align: center;
    transition: .2s;
}

.burger { display: none; }

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: whitesmoke;
    margin: 5px;
    transition: 0.5s ease;
}

.toggle span:nth-child(1) { transform: rotate(-45deg) translate(-5px,6px ); }
.toggle span:nth-child(2) { transform: scale(0); opacity: 0; }
.toggle span:nth-child(3) { transform: rotate(45deg) translate(-5px,-6px ); }

.overflow { overflow: hidden; }

.container .slider img, .border {
    width: 100%;
    height: auto;
}

.slider, .border {
    margin-top: 15px;
    display: flex;
    position: relative;
    align-items: center;
    border: #495495 2px solid;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px 3px 15px 0px rgb(0 0 0 / 25%);
}

div[name="previous"],
div[name="next"] {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #495495;
    border-style: solid;
    border-width: 2px;
    padding: 10px 8px;
    height: 10%;
    display: flex;
    align-items: center;
}

div[name="previous"] {
    left: 0;
    border-left: 0px;
    border-radius: 0 13px 13px 0;
}

div[name="next"] {
    right: 0;
    border-right: 0px;
    border-radius: 13px 0 0 13px;
}

.slider:hover div[name="previous"],
.slider:hover div[name="next"] {
    opacity: 1;
}

@media only screen and (max-width: 760px) {
    header {
        z-index: 1;
        position: sticky;
        display: flex;
        top: 15px;
        margin: 10px;
        border-radius:5px;
        background: #6f6fe7;
        justify-content: space-between;
        margin-bottom: 5px;
        color: whitesmoke;
        max-height: 45px;
        box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 25%);
    }

    header {
        height: 25px;
        margin: 15px 10px 10px 10px;
    }

    
    main { margin: 8px 15px; }

    main {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    main .card + div { margin-top: 10px; }

    .btn-home {
        position: absolute;
        top: 50%;
        margin: 0;
        left: 0;
        z-index: 1;
        color: whitesmoke;
        background-color: #3a3a7c;
        font-size: 1.3em;
        padding: 6px 10px;
        transition: .2s;
        border-radius: 5px;
        transform: translateY(-50%);
        border: #4f4f7e 2px solid;
    }

    .nav-links {
        position: fixed;
        right: calc(-100% - 30px);
        top: 50px;
        background: #9898f7;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease-out;
        border-radius: 5px;
        width: calc(100% - 20px);
        margin: 10px;
        align-items: center;
        box-shadow: 2px 3px 15px 0px rgb(0 0 0 / 25%);
    }
    
    .nav-active { right: 0 }

    .burger {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #3a3a7c;
        padding: 4px;
        border-radius: 5px;
        border: #4f4f7e 2px solid;
    }

    div[name="previous"], div[name="next"] { opacity: 1; }

    .nav-links a {
        color: whitesmoke;
        text-transform: uppercase;
        transition: .2s;
        min-height: 40px;
        width: 100%;
        margin: 10px;
        text-align: center;
        line-height: 3;
    }
    
    nav {
        position: relative;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }
}